.table--responsive {
  overflow: auto;
  width: 100%;
  .table {
    width: 100%;
    border-collapse: collapse;
    thead {
      position: sticky;
      top: 0;
      z-index: 0;
    }

    th,
    td {
      padding: 8px;
      // text-align: left;
      height: 40px;
      font-size: 13px;
    }
    th {
      border-color: inherit;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      background-color: $theme-white;
      font-weight: 600;
    }
    td {
      border-color: inherit;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      &:first-child {
        border-radius: 6px 0 0 6px;
      }
      &:last-child {
        border-radius: 0 6px 6px 0;
      }
    }

    &.bordered {
      & > :not(caption) > * > * {
        border-width: 1px;
      }
      th,
      td {
        border-color: inherit;
        border-style: solid;
        border-width: 1px;
      }
    }
    &.border--spacing {
      border-collapse: separate;
      border-spacing: 0 8px;
    }
  }
  &--full-scroll {
    max-height: calc(100vh - 125px);
    min-height: calc(100vh - 125px);
  }
  &.tableCustom {
    th {
      border-color: $theme-black-100;
    }
    td {
      border-color: $theme-black-100;
      border-radius: 0 !important;
    }
  }
}

.halfTable {
  max-height: calc(100vh - 324px);
  .table--responsive {
    max-height: calc(100vh - 480px);
    min-height: calc(100vh - 480px);
    @media (min-width: 1800px) and (max-width: 2000px) {
      max-height: calc(100vh - 637px);
      min-height: calc(100vh - 637px);
    }
  }
}

// .loader-line {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 2px;

//   overflow: hidden;
//   background-color: #ddd;
//   margin: 0px auto;
//   -webkit-border-radius: 20px;
//   -moz-border-radius: 20px;
//   border-radius: 20px;
// }

// .loader-line:before {
//   content: "";
//   position: absolute;
//   left: -50%;
//   height: 3px;
//   width: 40%;
//   background-color: $theme-success;
//   -webkit-animation: lineLoader 1s linear infinite;
//   -moz-animation: lineLoader 1s linear infinite;
//   animation: lineLoader 3s linear infinite;
//   -webkit-border-radius: 20px;
//   -moz-border-radius: 20px;
//   border-radius: 20px;
// }

// @keyframes lineLoader {
//   0% {
//     left: -100%;
//     width: 10%;
//   }
//   50% {
//     left: 0%;
//     width: 100%;
//   }
//   100% {
//     left: 100%;
//     width: 100%;
//   }
// }
